html, body, #result {
	margin: auto; padding: 0; width: 100%; height: 100%; 
}
body {
	padding-top: 83px;
	height: calc(100% - 83px);
	overflow: hidden;
}
#result {
	border: none;
}
header {
	height: 83px;
	width: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	background: #999966;
	text-align: center;
}
header h1 {
	color: white;
	font-weight: bold;
	font-size: 12pt;
}
#nav {
	list-style: none;
	font-size: 0.8em;
	font-family: Arial;
}
#nav li {
	display: inline-block;
}
#nav a:visited {
	color: #FF9900;
}
#nav li::before {
	content: "| ";
}
#nav li:first-child::before {
	content: none;
}